.members{
    display: flex;
    gap: 35px;
    flex-wrap: wrap;
}
.role-group{
    flex: 1;  
}
.role{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.role h3{
    margin: 0;
}
.member-group{
    background-color: var(--background-tertiary);
    border-radius: 8px;
    height: 300px;
    padding: 20px; 
    display: flex;
    flex-direction: column;

}

.add-member{
    background-color: var(--text-primary);
    margin-left: auto;
    height: 30px;
    aspect-ratio: 1;
    border: none;
    border-radius: 15%;
    transition: all 0.5s
    
}
.add-member:hover{
    background: white
}

.add-member:active{
     border: var(--btn-color) 2.5px solid;
     outline: var(--btn-active)2.5px solid;
}

.find-user{
    width: 400px;
}

.empty-role{
    flex: 1;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
