<!-- nav-bar-item.component.html -->
<div class="nav-item-container" 
     (mouseenter)="onMouseEnter()" 
     (mouseleave)="onMouseLeave()">
    <button 
        class="nav-button" 
        (click)="navigate()"
        [ngClass]="{'hovered': isHovered}"
    >
        {{ label }}
        <i *ngIf="isHovered" class="bi bi-chevron-up"></i>
        <i *ngIf="!isHovered" class="bi bi-chevron-down"></i>
    </button>
    
    <div class="dropdown-menu" *ngIf="isDropdownOpen">
      <ng-content></ng-content>
    </div>
</div>