<div class="otp">
    <div class="otp-container">
        <div *ngIf="title || subtitle">
            <h3 *ngIf="title">{{ title }}</h3>
            <p *ngIf="subtitle">{{ subtitle }}</p>
        </div>
        <div class="fields">
            @for (digit of otpArray; track $index) {
            <app-hover-border-effect>
                <input 
                    [(ngModel)]="otp[$index]"
                    #otpInput
                    maxlength="1"
                    class="otp-field"
                    type="text"
                    attr.inputmode="{{ allowAlphanumeric ? 'text' : 'numeric' }}"
                    (input)="onOtpInputChange($index, $event)"
                    (keydown)="onKeyDown($index, $event)"
                    (paste)="onPaste($event, $index)"
                    autocomplete="one-time-code"
                >
            </app-hover-border-effect>}
        </div>
    </div>
</div>