  .product-backlog-container{
    display: flex;
  }
  .sprint-list{
    flex: 1;
    display: flex;
    flex-direction: column;
  }
  .sprint-container {
    border: 1px solid var(--border-color);
    margin: 20px;
  }
  
  .sprint-info {
    background-color: var(--background-secondary);
    height: 60px;
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 0 10px 0 10px;
  }
  .collapse-btn{
    height: 30px;
    padding: 0;
    vertical-align: bottom;
    aspect-ratio: 1;
    background: none;
    border: none;
    color: var(--text-primary);
    border-radius: 50%;
    transition: all 0.2s;
    
  }
  .collapse-btn:hover{
    background-color: var(--btn-hover);
  }
  .collapse-btn:active{
    background-color: var(--btn-active);
  }
  .collapse-btn .bi::before{
    vertical-align: middle;
  }

  .sprint-state{
    margin-left: auto;
  }
  
  .issues-actions {
    height: 40px;
    padding: 0 10px 0 10px;
    background-color: var(--background-tertiary);
    display: flex;
    align-items: center;
    justify-content: space-between;

  }
  
  .issues-list {
    display: flex;
    flex-direction: column;
    padding: 5px;
  }
  .issue{
    background-color: var(--background-secondary);
    height: 50px;
    padding: 0 10px 0 10px;
    display: flex;
    align-items: center;
    gap: 20px;
    border-radius: 5px;
  }
  .issue-state{
    margin-left: auto;
  }
  .hover-background {
    position: absolute;
    height: 50px;
    outline: 5px solid rgba(30, 41, 59, 0.8);;
    border-radius: 5px;
    background-color: rgba(30, 41, 59, 0.8);;
    transition: all 0.2s;
    z-index: -1;
}
.action-box{
    background-color: var(--background-secondary);
    width: 350px;
    margin: 20px;
    border: 2px solid var(--border-color);
}