<div class="product-backlog-container">
  <div class="sprint-list">
    <app-modal #createSprintModal ModalTitle="Create Sprint">
      <app-icon-button
        appModalTrigger
        (click)="createSprintModal.openModal()"
        icon="bi bi-plus"
        label="Create Sprint"
      />
      <app-create-sprint [projectId]="projectId" (createSprintResult)="onCreateSprintResult($event, createSprintModal)" />
    </app-modal>

    <div class="sprint-container" *ngFor="let sprint of sprints; let sprintIdx = index">
      <app-sprint-drawer [sprint]="sprint">
        <app-issue-list 
          [sprintId]="sprint.sprintId" 
          [projectId]="projectId"
          (issueSelected)="onIssueSelected($event)"
        ></app-issue-list>
      </app-sprint-drawer>
    </div>
  </div>

  <div
  class="details"
  [@slideInOut]="issueSelected ? 'in' : 'out'"
  *ngIf="issueSelected"
  >
    <app-read-edit-issue [issue]="issueSelected" />
  </div>
</div>
