<div class="input-label-container">
    <h5 *ngIf="label">{{ label }} :</h5>
  
    <!-- Hover effect only when not disabled -->
    <ng-container *ngIf="editMode ; else disabledInput">
      <app-hover-border-effect>
        <ng-container *ngIf="type !== 'textarea'">
          <input
            #inputElement
            [type]="type"
            [placeholder]="placeholder"
            class="input-field"
            [name]="name"
            [(ngModel)]="value"
            (ngModelChange)="onInputChange($event)"
            (blur)="onBlur()"
          />
        </ng-container>
        <ng-container *ngIf="type === 'textarea'">
          <textarea
            #inputElement
            [rows]="5"
            [name]="name"
            [placeholder]="placeholder"
            [(ngModel)]="value"
            (ngModelChange)="onInputChange($event)"
            (blur)="onBlur()"
          ></textarea>
        </ng-container>
      </app-hover-border-effect>
    </ng-container>
    <ng-template #disabledInput>
      <ng-container *ngIf="type !== 'textarea'">
        <input
          #inputElement
          [type]="type"
          [placeholder]="placeholder"
          class="input-field"
          [name]="name"
          [(ngModel)]="value"
          [disabled]="true"
        />
      </ng-container>
      <ng-container *ngIf="type === 'textarea'">
        <textarea
          #inputElement
          [rows]="5"
          [name]="name"
          [placeholder]="placeholder"
          [(ngModel)]="value"
          [disabled]="true"
        ></textarea>
      </ng-container>
    </ng-template>
  
    <div class="input-helper">
      <span class="letter-count" *ngIf="type === 'textarea'">{{ value.length }} / 300</span>
      <span class="error-input">{{ validationError || error }}</span>
    </div>
  </div>
  