<div class="input-label-container">
    <label class="input-label" >{{label}}</label>
    <div 
        #inputContainer
        class="input-container"
        [style.background]="backgroundStyle"
    >
        <input 
        *ngIf="type !== 'file'"
        #inputElement
        [type]="type"
        [placeholder]="placeholder"
        [disabled]="disabled"
        class="input-field"
        [(ngModel)]="value"
        (ngModelChange)="onInputChange($event)"
        (blur)="onTouched()"
        [name]="name"
        />
        <input 
        *ngIf="type === 'file'"
        #fileInput
        type="file"
        [disabled]="disabled"
        class="input-field file-input"
        (change)="onFileChange($event)"
        (blur)="onTouched()"
        [name]="name"
    />
    </div>
</div>