<div class="reset-password-container">
    <div class="reset-password-content">
      <mat-stepper linear #stepper>
        <mat-step [stepControl]="SendEmailForm">
            <form [formGroup]="SendEmailForm">
                <ng-template matStepLabel>Find you account</ng-template>
                <dynamic-input
                label="Email Address"
                type="text"
                placeholder="Enter your email address"
                formControlName="emailAddress"
                [editMode]="true"
                [enableValidation]="true"
                [validation]="{ required: true, emailAddress }"
                (validityChanged)="fieldValidity['emailAddress'] = $event"
                />
                <div class="button-container">
                  <button (click)="onSendEmail(stepper)">Send Email</button>
                </div>
            </form>
        </mat-step>

        <mat-step [stepControl]="verifyOtpForm">
          <form [formGroup]="verifyOtpForm">
                <ng-template matStepLabel>Verify your identity</ng-template>
                <app-otp
                  [otpLength]="5"
                  [allowAlphanumeric]="true"
                  [title]="'Verify Account'"
                  [subtitle]="'Enter the verification code sent to ' + emailAddress"
                  (otpComplete)="onOtpComplete($event)"
                  (otpChange)="onOtpChange($event)">
                </app-otp>
                <div class="button-container">
                  <button matStepperPrevious></button>
                  <button (click)="onVerifyIdentity(stepper)">Verify</button>
                </div>
            </form>
        </mat-step>
  
        <mat-step [stepControl]="resetPasswordForm">
          <form [formGroup]="resetPasswordForm">
            <ng-template matStepLabel>Reset Password</ng-template>

            <dynamic-input
              label="Password"
              type="password"
              placeholder="Enter your new password"
              formControlName="password"
            [editMode]="true"
              [enableValidation]="true"
              [validation]="{ required: true, minLength: 9 }"
              (validityChanged)="fieldValidity['password'] = $event"
            ></dynamic-input>
            <dynamic-input
              label="Confirm new Password"
              type="password"
              placeholder="Confirm your password"
              formControlName="confirmPassword"
            [editMode]="true"
              ></dynamic-input>
  
            <div class="button-container">
              <button 
                (click)="onResetPassword()" 
                matStepperNext
                [disabled]="!isAllValid()"
              >
                Verify Email
              </button>
            </div>
          </form>
        </mat-step>
      </mat-stepper>
    </div>
  </div>
  