@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;800&display=swap");

.content {
    max-width: 800px;
}

.title { 
  position: relative; 
  display: inline-block; 
  font-size: 80px; 
  font-weight: 800;
  line-height: 70px;
  margin: 0; 
  background: 
    radial-gradient(circle at 30% 30%, #5E1675 0%, transparent 40%), 
    radial-gradient(circle at 70% 40%, #EE4266 0%, transparent 40%), 
    radial-gradient(circle at 50% 70%, #FFD23F 0%, transparent 40%), 
    radial-gradient(circle at 60% 20%, #337357 0%, transparent 40%);
  background-size: 200% 200%; 
  -webkit-background-clip: text; 
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: none;
  animation: random-bubbles 20s ease infinite;
}
.subtitle{
  margin-top: 30px;
  font-size: 20px;
  font-weight: 500;
  color: var(--text);
}


@keyframes random-bubbles { 
  0% { 
    background-position: 10% 30%; 
  }
  15% { 
    background-position: 80% 20%; 
  }
  30% { 
    background-position: 30% 70%; 
  }
  45% { 
    background-position: 60% 50%; 
  }
  60% { 
    background-position: 40% 10%; 
  }
  75% { 
    background-position: 20% 90%; 
  }
  90% { 
    background-position: 90% 40%; 
  }
  100% { 
    background-position: 10% 30%; 
  }
}