<div class="signin">
    <div class="hader">
    </div>
    <form (ngSubmit)="onSubmit()" #signupForm="ngForm">
        <CustomInput
            label="Email Address"
            type="text"
            placeholder="Enter your name"
            [(ngModel)]="emailAddress"
            name="emailAddress"
        />
        <CustomInput
            label="Password"
            type="text"
            placeholder="Enter your name"
            [(ngModel)]="password"
            name="password"
        />
        <button class="signin" type="submit" >
            <span class="signin-content">Sign In </span>
        </button>
        <img src="http://localhost:5230/api/FileUpload/cejs03mc.yxi.png" alt="">
    </form>
    
  </div>
  
